body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    line-height: 1;
}

.first-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.4)),
        url("./images/background.jpg");
    background-size: cover;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav img {
    width: 100px;
    margin: 20px;
}

.nav button {
    width: 100px;
    height: 40px;
    padding: 10px;
    margin: 20px;
    background-color: red;
    border-radius: 5px;
    border-color: red;
    color: white;

}

.unlimited {
    position: relative;
    left: 500px;
    top: 70px;
    width: 800px;
    padding: 10px;
}

.unlimited h1 {
    font-size: 2rem;
    font-size: 50px;
}

.unlimited div {
    display: flex;
}

input {
    width: 500px;
    height: 60px;
    background-color: white;
    border-color: white;
    margin: 0;
    font-size: 20px;
}

button {
    width: 150px;
    height: 68px;
    background-color: red;
    border-color: red;
    margin: 0;
    font-size: 20px;
    color: white;
}

hr {
    border: 3px solid gray
}


.second-section {
    display: flex;
    height: 500px;

}

.second-section>div:first-child {
    width: 35%;
    margin: 100px;

}

.show-tv {
    position: relative;
}

.show-tv img,
.show-tv video {
    position: absolute;
    margin-left: 5px;
}

.show-tv video {
    top: 70px;
    width: 500px;
    left: 81px;
    height: 288px;
}

.third-section {
    display: flex;
    gap: 10px;
}

.third-section-text {
    width: 750px;
    margin: 100px;
}

.third-section button {
    position: relative;
    left: 120px;
    bottom: 150px;
    border: 3px solid #222;
    border-radius: 20px;
    background: black;
    width: 400px;
    height: 100px;
}

.box {
    height: 80px;
}

.fourth-section {
    width: 40%;
    margin-left: 100px;
}

.fifth-section {
    display: flex;
}

.sixth-section {
    display: flex;
    justify-content: center;
}

.section-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

summary {
    display: block;
    width: 850px;
}

.FAQ {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: rgb(54, 52, 52);
    margin: 10px;
    padding: 15px;
}

.FAQ>span:last-child {
    font-size: 50px;
}

.ready-to-watch p {
    font-size: 16px;
    margin-left: 35%;
    font-size: 20px;


}

.ready-to-watch div {
    display: flex;
    margin-left: 35%;
    padding: 40px;
    width: 80%;

}
.seventh-section {
    margin: 15px;
}
.seventh-section > div:first-child a , footer span{
 margin-left: 25px;
 font-size: 15px;
 text-decoration: none;
 color:rgb(91, 87, 87);
}

.sub-seventh-section {
    display: flex;
    font-size: 13px;
}

.seventh-section a {
    color:rgb(91, 87, 87);
}

.sub-seventh-section li {
    margin: 12px;
    font-weight: bold;
} 


ul li{
   list-style-type: none;
}
li a{
    text-decoration: none;
    
}